<div
  class="application-shell-container"
  [class.is-mobile]="mobileQuery.matches"
>
  <!-- HEADER -->
  <mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <a [ngClass]="mobileQuery.matches ? 'show' : 'hide'" mat-button (click)="snav.toggle()" (keydown.enter)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
      <div *ngIf="!mobileQuery.matches" class="header-name" (click)="navigate('/')">
        <p class="header-name-trattoria">TRATTORIA</p><p class="header-name-pelliccia">Pelliccia</p>
      </div>
      <span class="spacer"></span> 
      <ng-container *ngIf="!mobileQuery.matches">
        <div class="desktop-header-navigation-links">
          <a 
            class="header-navigation-link" 
            routerLink="about"
            [ngClass]="activeTab == 'about' ? 'active-tab' : 'non-active-tab'"
            (click)="navigate('about')">{{'HEADER_MENU.ABOUT' | translate}}</a>
          <a 
            class="header-navigation-link" 
            routerLink="menu"
            [ngClass]="activeTab == 'menu' ? 'active-tab' : 'non-active-tab'" 
            (click)="navigate('menu')">{{'HEADER_MENU.MENU' | translate}}</a>
          <a 
            class="header-navigation-link" 
            routerLink="contact"
            [ngClass]="activeTab == 'contact' ? 'active-tab' : 'non-active-tab'" 
            (click)="navigate('contact')">{{'HEADER_MENU.CONTACT' | translate}}</a>
          <a 
            class="header-navigation-link" 
            routerLink="gallery"
            [ngClass]="activeTab == 'gallery' ? 'active-tab' : 'non-active-tab'" 
            (click)="navigate('gallery')">{{'HEADER_MENU.GALLERY' | translate}}</a>
        </div>  
        <div class="header-icons">
          <a class="icon-link-header" href="https://www.instagram.com/antica_trattoria_pelliccia/" aria-label="instagram">
            <i class="side-logos-mobile fab fa-instagram"></i>
          </a>
          <a class="icon-link-header" href="https://m.facebook.com/profile.php?id=119889251427852&__tn__=C-R" aria-label="facebook">
            <i class="side-logos-mobile fab fa-facebook"></i>
          </a>
          <a class="icon-link-header" href="https://goo.gl/maps/FW1oaU2ro58pJ13w7" aria-label="google maps">
            <i class="side-logos-mobile fas fa-globe"></i>
          </a>
        </div> 
      </ng-container>
      <span (click)="openDialog()" (keydown.enter)="openDialog()" [ngClass]="language ? 'language-selector flag-icon flag-icon-' + languageCode : ''"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- SIDENAV -->
  <mat-sidenav-container
    class="sidenav-container"
    [ngClass]="mobileQuery.matches ? 'sidenav-container-mobile' : ''"
  >
    <mat-sidenav
      class="sidenav"
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="false"
      (click)="snav.toggle()"
    >
      <div class="links-logos-container">
        <div class="sidenav-left">
          <div class="spacer-sidenav"></div>
          <mat-nav-list>
            <a 
              class="sidenav-menu-item" 
              mat-list-item 
              routerLink="."
              (click)="navigate('/')">
              {{'HEADER_MENU.HOME' | translate}}</a>
            <a 
              class="sidenav-menu-item" 
              mat-list-item 
              routerLink="about"
              (click)="navigate('about')">
              {{'HEADER_MENU.ABOUT' | translate}}
            </a>
            <a 
              class="sidenav-menu-item" 
              mat-list-item 
              routerLink="menu"
              (click)="navigate('menu')">
              {{'HEADER_MENU.MENU' | translate}}
            </a>
            <a 
              class="sidenav-menu-item" 
              mat-list-item 
              routerLink="contact"
              (click)="navigate('contact')">
              {{'HEADER_MENU.CONTACT' | translate}}
            </a>
            <a 
              class="sidenav-menu-item" 
              mat-list-item 
              routerLink="gallery"
              (click)="navigate('gallery')">
              {{'HEADER_MENU.GALLERY' | translate}}
            </a>
          </mat-nav-list>
        </div>
        <div
          class="sidenav-right"
          [ngClass]="'sidenav-right-darkmode'"
        >
          <a class="icon-link" href="https://www.instagram.com/antica_trattoria_pelliccia/" aria-label="instagram">
            <i class="side-logos-mobile fab fa-instagram"></i>
          </a>
          <a class="icon-link" href="https://m.facebook.com/profile.php?id=119889251427852&__tn__=C-R" aria-label="facebook">
            <i class="side-logos-mobile fab fa-facebook"></i>
          </a>
          <a class="icon-link" href="https://goo.gl/maps/FW1oaU2ro58pJ13w7" aria-label="google maps">
            <i class="side-logos-mobile fas fa-globe"></i>
          </a>
        </div>
      </div>
      <!-- FOOTER -->
      <div
        class="footer"
        [ngClass]="'footer-darkmode'"
      >
        <p class="footer-text">&#169; 2022</p>
      </div>
    </mat-sidenav>

    <!-- CONTENT OUTLET -->
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
