<div class="terminal-container">
  <div class='fakeScreen'>
    <p class='line2 shell-script' tabindex="0">
      {{'ABOUT.WELCOME' | translate}}@MacBook-Pro ~ $ {{'ABOUT.INTRO' | translate}} Joseph Nechleba.
    </p>
    <p class='line3 shell-script' tabindex="0">Cornell {{'ABOUT.SCHOOL' | translate}} '19.</p>
    <p class='line4 shell-script' tabindex="0">{{'ABOUT.WORK' | translate}} InterSystems Corporation: July 2019 - </p>
    <p class = 'line5-bash shell-script' tabindex="0">
      cat
      <a class='line5-resume' href="../../assets/UpdatedResume.pdf">
        {{'ABOUT.RESUME' | translate}}
      </a>
    </p>
    <p class='line6 shell-script'>
      <a class='line6' href='mailto:jdnechleba@gmail.com'>
        [?] {{'ABOUT.EMAIL' | translate}}: jdnechleba@gmail.com
      </a>
    </p>
    <p class='line7 shell-script'>>
      <span class='cursor'>_</span>
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div class="separator"></div>
  <div class="overallDiv">
    <div class="bottomImage"></div>
  </div>
</div>

