<div class="component-background">
    <div class="intro-text-container">
        <h2 class="about-us">{{'ABOUT.ABOUT_US' | translate}}</h2>
        <p class="short-intro">
            <em class="short-intro-opener">Antica Trattoria Pelliccia&nbsp;</em>{{'ABOUT.INTRO_ONE' | translate}}</p>
        <p class="short-intro">{{'ABOUT.INTRO_TWO' | translate}}</p>
        <p class="short-intro">{{'ABOUT.INTRO_THREE' | translate}}</p>
        <p class="short-intro">{{'ABOUT.INTRO_FOUR' | translate}}</p>
    </div>
    <div class="ravioli-container">
        <img 
            class="ravioli-image" 
            [src]="mobileQuery.matches ? ravioliImageMobileUrl : ravioliImageDesktopUrl" 
            alt="Trattoria Pelliccia Ravioli" 
            width="mobileQuery.matches ? 300 : ''" 
            height="mobileQuery.matches ? 200 : ''">
    </div>
</div>
