<div class="component-background">
    <div>
        <p class="contact-header">{{'CONTACT.CONTACT' | translate}}</p>
    </div>
    <div class="contact-container">
        <div class="info-container">
            <div class="email-phone-container">
                <h3 class="phone-email-header">{{'CONTACT.PHONEANDEMAIL' | translate}}</h3>
                <p class="contact-info">+39 0187 83057</p>
                <p class="contact-info">+33 3339 454046 (WhatsApp)</p>
                <p class="contact-info">{{'CONTACT.ASK' | translate}} Veronica</p>
                <p class="contact-info">anticatrattoriapelliccia&#64;hotmail.com</p>
            </div>
            <div class="address-container">
                <h3 class="address-header">{{'CONTACT.ADDRESS' | translate}}</h3>
                <p class="contact-info">Antica Trattoria Pelliccia</p>
                <p class="contact-info">Via Garibaldi 137</p>
                <p class="contact-info">54027 Pontremoli</p>
                <p class="contact-info">Massa Carrara, Italy</p>
            </div> 
            <div class="hours-container">
                <h3 class="hours-header">{{'CONTACT.HOURS' | translate}}</h3>
                <p class="contact-info">12.00 - 14.00, 19.00 - 22.00</p>
                <p class="contact-info">{{'CONTACT.DAYS_CLOSED' | translate}}</p>
            </div>    
        </div>
    </div>
</div>