:host {
    background-color: #ef5777;;
}

.component-background {
    max-height: calc(100vh - 56px);
    overflow-x: hidden;
    flex-basis: 100%;
    height: 100vh;
    border-radius: 7%;
    background-color: #171717;
}

.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-header {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat';
}

.address-header, .phone-email-header, .hours-header {
    color: #fff;
    font-family: 'Montserrat';
    text-decoration: underline;
    text-underline-position: under;
}

.contact-info {
    color: #fff;
    font-family: 'Montserrat';
}

