<div class="component-background">
    <div>
        <p class="contact-header">{{'CONTACT.CONTACT' | translate}}</p>
    </div>
    <div class="contact-container">
        <div class="info-container">
            <div class="address-container">
                <h3 class="address-header">{{'CONTACT.ADDRESS' | translate}}</h3>
                <p class="contact-info">Antica Trattoria Pelliccia</p>
                <p class="contact-info">Via Garibaldi 137 <a class="icon-link-header" href="https://goo.gl/maps/FW1oaU2ro58pJ13w7" aria-label="google maps">
                    <i class="side-logos-mobile fas fa-globe"></i>
                  </a></p>
                <p class="contact-info">54027 Pontremoli</p>
                <p class="contact-info">Massa Carrara, Italy</p>
            </div>
            <div class="email-phone-container">
                <h3 class="phone-email-header">{{'CONTACT.PHONEANDEMAIL' | translate}}</h3>
                <p class="contact-info">+39 0187 830577</p>
                <p class="contact-info">3339454046</p>
                <p class="contact-info">anticatrattoriapelliccia@hotmail.com</p>
            </div>    
            <div class="hours-container">
                <h3 class="hours-header">{{'CONTACT.HOURS' | translate}}</h3>
                <p class="contact-info">{{'CONTACT.DAYS_CLOSED' | translate}}</p>
                <p class="contact-info">12.00 - 14.00, 19.00 - 22.00</p>
            </div>    
        </div>
    </div>
</div>