<div class="component-background">
    <h1 class="menu-header">{{'MENU.MENU_TITLE' | translate}}</h1>
    <div class="menu-container">
        <div class="menu-section-one">
            <h3 class="main-courses">{{'MENU.ANTIPASTI' | translate}}</h3>
            <div class="menu-item">
                <p>Acciughe del Cantabrico...Piquillo, burro danese e crostini&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Patè d'anatra...mela al Porto e crostini&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Antipasto Misto "Lunigiana"&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Petto d'Oca affumicato...crostini e riccioli di burro&nbsp;</p>
            </div>
        </div>
        <br>
        <div class="menu-section-two">
            <h3 class="main-courses">{{'MENU.PRIMI' | translate}}</h3>
            <div class="menu-item">
                <p>Tagliatelle al Teroldego...crema di Carote, ragù di Agnello, fonduta di Gorgonzola&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Timballo di riso Taleggio e pere&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Spaghetti alla Bottarga di Muggine&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Tortelli di verdura burro e Tartufo&nbsp;</p>
            </div>
        </div>
        <br>
        <div class="menu-section-three">
            <h3 class="main-courses">{{'MENU.SECONDI' | translate}}</h3>
            <div class="menu-item">
                <p>Baccalà al forno...lardo, pomodorini, olive e patate&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Tagliata di Angus tricolore&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Ribs di Agnello "scottadito" con patate&nbsp;</p>
            </div>
            <div class="menu-item">
                <p>Tartare di Filetto di Angus al Tartufo&nbsp;</p>
            </div>
        </div>
        <br>
        <div class="menu-section-four">
            <h3 class="desert">{{'MENU.DESSERT' | translate}}</h3>
            <div class="menu-item"> 
                <p>{{'MENU.DESSERTS_DESCRIPTION' | translate}}</p>
            </div>
        </div>
        <br>
        <div class="menu-section-four">
            <div class="menu-item"> 
                <p class="booking-tail">{{'MENU.BOOKING' | translate}}</p>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
