<div class="component-background">
    <h1 class="menu-header">{{'MENU.MENU' | translate}}</h1>
    <div class="menu-container">
        <div class="menu-section-one">
            <h3 class="main-courses">{{'MENU.MAIN_COURSES' | translate}}</h3>
            <br>
            <div class="menu-item">
                <p>Acciughe del Cantabrico...Piquillo, burro danese e crostini&nbsp;</p><p class="price">&euro;&nbsp;12,00</p>
            </div>
            <div class="menu-item">
                <p>Patè d'anatra...mela al Porto e crostini&nbsp;</p><p class="price">&euro;&nbsp;9,00</p>
            </div>
            <div class="menu-item">
                <p>Antipasto Misto "Lunigiana"&nbsp;</p><p class="price">&euro;&nbsp;8,00</p>
            </div>
            <div class="menu-item">
                <p>Petto d'Oca affumicato...crostini e riccioli di burro&nbsp;</p><p class="price">&euro;&nbsp;8,00</p>
            </div>
        </div>
        <hr class="divider">
        <div class="menu-section-two">
            <div class="menu-item">
                <p>Tagliatelle al Teroldego...crema di Carote, ragù di Agnello, fonduta di Gorgonzola&nbsp;</p><p class="price">&euro;&nbsp;10,00</p>
            </div>
            <div class="menu-item">
                <p>Timballo di riso Taleggio e pere&nbsp;</p><p class="price">&euro;&nbsp;9,00</p>
            </div>
            <div class="menu-item">
                <p>Spaghetti alla Bottarga di Muggine&nbsp;</p><p class="price">&euro;&nbsp;10,00</p>
            </div>
            <div class="menu-item">
                <p>Tortelli di verdura burro e Tartufo&nbsp;</p><p class="price">&euro;&nbsp;10,00</p>
            </div>
        </div>
        <hr class="divider">
        <div class="menu-section-three">
            <div class="menu-item">
                <p>Baccalà al forno...lardo, pomodorini, olive e patate&nbsp;</p><p class="price">&euro;&nbsp;15,00</p>
            </div>
            <div class="menu-item">
                <p>Tagliata di Angus tricolore&nbsp;</p><p class="price">&euro;&nbsp;12,00</p>
            </div>
            <div class="menu-item">
                <p>Ribs di Agnello "scottadito" con patate&nbsp;</p><p class="price">&euro;&nbsp;12,00</p>
            </div>
            <div class="menu-item">
                <p>Tartare di Filetto di Angus al Tartufo&nbsp;</p><p class="price">&euro;&nbsp;10,00</p>
            </div>
        </div>
        <hr class="divider">
        <div class="menu-section-four">
            <h3 class="desert">{{'MENU.DESSERT' | translate}}</h3>
            <div class="menu-item"> 
                <p>Su Richiesta e Prenotazione</p>
            </div>
        </div>
    </div>
</div>
