:host {
    height: 100%;
    width: 100%;
}

.menu-header {
    font-size: 30px;
    color: #000;
    font-family: 'Montserrat';
    margin-bottom: 0;
    margin-top: 2rem;
}

.component-background {
    max-height: calc(100vh - 56px);
    overflow-x: hidden;
    flex-basis: 100%;
    height: 100vh;
    background-image: linear-gradient(to top right, #c8d6e5,  #fbfbf8);
    -webkit-overflow-scrolling: touch;
}

.main-courses {
    margin-bottom: 0;
    font-family: 'Montserrat';
    text-decoration: underline;
    text-underline-position: under;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 0;
    flex-basis: 100%;
    justify-content: center;
}

.divider {
    border: 1px solid #2f3640;
    width: 60%;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Montserrat';
}

.price {
    display: inline;
    font-weight: bold;
}

.menu-section-one {
    flex-basis: 25%;
    color: #000;
    .main-courses {
        color: #000;
    }
}
.menu-section-two {
    flex-basis: 25%;
    color: #000;
} 
.menu-section-three {
    flex-basis: 25%;
    color: #000;
}
.menu-section-four {
    flex-basis: 25%;
    color: #000;
    .desert {
        color: #000;
        margin-bottom: 0;
        font-family: 'Montserrat';
        text-decoration: underline;
        text-underline-position: under;
    }
}

.booking-tail {
    font-family: 'Georgia';
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .menu-header {
        font-size: 30px;
        color: #000;
        font-family: 'Montserrat';
        margin-bottom: 0;
        margin-top: 1rem;
    }
}