<div class="component-background">
    <div class='row'>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/trattoriaFromSide.jpeg' alt='trattoria pelliccia restaurant from the side' style='width:100%'>
          <img src='../../assets/images/gallery/withTruffles.png' alt='withTruffles' style='width:100%'>
          <img src='../../assets/images/gallery/tartar.png' alt='tartar' style='width:100%'>
          <img src='../../assets/images/gallery/tagtwo.png' alt='tagtwo' style='width:100%'>
          <img src='../../assets/images/gallery/platter.png' alt='platter' style='width:100%'>
          <img src='../../assets/images/gallery/entrance.png' alt='entrance' style='width:100%'>

        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/tart.png' alt='Trattoria Pelliccia Restaurant tart' style='width:100%'>
          <img src='../../assets/images/gallery/tag.png' alt='Trattoria Pelliccia Restaurant tagliatele' style='width:100%'>
          <img src='../../assets/images/gallery/stew.png' alt='Trattoria Pelliccia Restaurant stew' style='width:100%'>
          <img src='../../assets/images/gallery/steak.png' alt='Trattoria Pelliccia Restaurant steak' style='width:100%'>
          <img src='../../assets/images/gallery/pastries.png' alt='Trattoria Pelliccia Restaurant pastries' style='width:100%'>
          <img src='../../assets/images/gallery/dumplings.png' alt='Trattoria Pelliccia Restaurant dumplings' style='width:100%'>
        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/ribs.png' alt='Trattoria Pelliccia Restaurant ribs' style='width:100%'>
          <img src='../../assets/images/gallery/oysters.png' alt='Trattoria Pelliccia Restaurant oysters' style='width:100%'>
          <img src='../../assets/images/gallery/mussels.png' alt='Trattoria Pelliccia Restaurant mussels' style='width:100%'>
          <img src='../../assets/images/gallery/souffle.png' alt='Trattoria Pelliccia Restaurant souffle' style='width:100%'>
          <img src='../../assets/images/gallery/friedDough.png' alt='Trattoria Pelliccia Restaurant friedDough' style='width:100%'>
          <img src='../../assets/images/gallery/beautifullyPresented.png' alt='Trattoria Pelliccia Restaurant beautifullyPresented' style='width:100%'>
        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/meatAndCheese.png' alt='Trattoria Pelliccia Restaurant meatAndCheese' style='width:100%'>
          <img src='../../assets/images/gallery/marangue.png' alt='Trattoria Pelliccia Restaurant marange' style='width:100%'>
          <img src='../../assets/images/gallery/chickenLegs.png' alt='Trattoria Pelliccia Restaurant chicken legs' style='width:100%'>
          <img src='../../assets/images/gallery/sauce.png' alt='Trattoria Pelliccia Restaurant sauce' style='width:100%'>
          <img src='../../assets/images/gallery/fish.png' alt='Trattoria Pelliccia Restaurant fish' style='width:100%'>
          <img src='../../assets/images/gallery/greens.png' alt='Trattoria Pelliccia Restaurant greens' style='width:100%'>
        </div>
      </div>
</div>