.component-background {
    max-height: calc(100vh - 56px);
    overflow-x: hidden;
    flex-basis: 100%;
    height: 100vh;
    background-color: #171717;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    background-color: #171717;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    justify-content: space-between;
    background-color: #171717;
}

.column img {
    margin: 1rem;
    display: block;
    background-color: #171717;
    border-radius: 10px;
    max-width: 95%;
}

// phone
@media screen and (max-width: 600px) {
    .component-background {
        max-height: calc(100vh - 56px);
        overflow-x: hidden;
        flex-basis: 100%;
        height: 100vh;
        background-color: #171717;
        padding-top: 1rem;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        justify-content: center;
        background-color: #171717;
    }

    .column {
        -ms-flex: 70%; /* IE10 */
        flex: 70%;
        max-width: 70%;
        background-color: #171717;
        align-items: center;
    }
    
    .column img {
        margin: 1rem;
        display: block;
        background-color: #171717;
        border-radius: 10px;
        max-width: 95%;
    }
}

// phone
@media screen and (max-width: 500px) {
    .component-background {
        max-height: calc(100vh - 56px);
        overflow-x: hidden;
        flex-basis: 100%;
        height: 100vh;
        background-color: #171717;
        padding-top: 1rem;
        padding-right: 0;
        padding-bottom: 1rem;
    }

    .column {
        -ms-flex: 90%; /* IE10 */
        flex: 90%;
        max-width: 90%;
        background-color: #171717;
    }
    
    .column img {
        margin: 1rem;
        border-radius: 10px;
        display: block;
        background-color: #171717;
        max-width: 90%;
    }
}