<div class="component-background">
    <div class='row'>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/trattoriaFromSide.jpeg' alt='trattoria pelliccia restaurant from the side' style='width:100%'>
          <img src='../../assets/images/gallery/withTruffles.png' alt='withTruffles' style='width:100%'>
          <img src='../../assets/images/gallery/tartar.png' alt='tartar' style='width:100%'>
          <img src='../../assets/images/gallery/tagtwo.png' alt='tagtwo' style='width:100%'>
          <img src='../../assets/images/gallery/platter.png' alt='platter' style='width:100%'>
          <img src='../../assets/images/gallery/entrance.png' alt='entrance' style='width:100%'>

        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/tart.png' alt='tart' style='width:100%'>
          <img src='../../assets/images/gallery/tag.png' alt='tagliatele' style='width:100%'>
          <img src='../../assets/images/gallery/stew.png' alt='stew' style='width:100%'>
          <img src='../../assets/images/gallery/steak.png' alt='steak' style='width:100%'>
          <img src='../../assets/images/gallery/pastries.png' alt='pastries' style='width:100%'>
          <img src='../../assets/images/gallery/dumplings.png' alt='dumplings' style='width:100%'>
        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/ribs.png' alt='ribs' style='width:100%'>
          <img src='../../assets/images/gallery/oysters.png' alt='oysters' style='width:100%'>
          <img src='../../assets/images/gallery/mussels.png' alt='mussels' style='width:100%'>
          <img src='../../assets/images/gallery/souffle.png' alt='souffle' style='width:100%'>
          <img src='../../assets/images/gallery/friedDough.png' alt='friedDough' style='width:100%'>
          <img src='../../assets/images/gallery/beautifullyPresented.png' alt='beautifullyPresented' style='width:100%'>
        </div>
        <div class='column gallery'>
          <img src='../../assets/images/gallery/meatAndCheese.png' alt='meatAndCheese' style='width:100%'>
          <img src='../../assets/images/gallery/marangue.png' alt='marange' style='width:100%'>
          <img src='../../assets/images/gallery/chickenLegs.png' alt='chicken legs' style='width:100%'>
          <img src='../../assets/images/gallery/sauce.png' alt='sauce' style='width:100%'>
          <img src='../../assets/images/gallery/fish.png' alt='fish' style='width:100%'>
          <img src='../../assets/images/gallery/tartar.png' alt='tartar' style='width:100%'>
        </div>
      </div>
</div>