/* You can add global styles to this file, and also import other style files */
@import 'custom_theme.scss';
@import "~@fortawesome/fontawesome-free/css/all.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px;}

.mat-list-item-content {
  font-size: 1.15em !important;
}

.mat-toolbar-row {
  background-color: black;
}