<!-- HOME -->
<div id='home' class="home-background">
  <div [hidden]="!loaded" class="text-container">
    <div class="welcome-message-container">
      <p class="welcome-message-trattoria notranslate">{{ 'TRATTORIA' }}</p>
      <p class="welcome-message-pelliccia notranslate">{{ 'Pelliccia' }}</p>
      <p class="detail-message">{{ 'HOME.MISSION' | translate }}</p>
    </div>
  </div>
</div>

<!-- ABOUT -->
<div id='about' class="component-background-about">
  <div class="intro-text-container">
      <h2 class="about-us">{{'ABOUT.ABOUT_US' | translate}}</h2>
      <p class="short-intro">
          <em class="short-intro-opener">Antica Trattoria Pelliccia&nbsp;</em>{{'ABOUT.INTRO_ONE' | translate}}</p>
      <p class="short-intro">{{'ABOUT.INTRO_TWO' | translate}}</p>
      <p class="short-intro">{{'ABOUT.INTRO_THREE' | translate}}</p>
      <p class="short-intro">{{'ABOUT.INTRO_FOUR' | translate}}</p>
  </div>
  <div class="ravioli-container">
        <img 
            class="ravioli-image" 
            [src]="mobileQuery.matches ? ravioliImageMobileUrl : ravioliImageDesktopUrl" 
            alt="Trattoria Pelliccia Ravioli" 
            width="mobileQuery.matches ? 300 : ''" 
            height="mobileQuery.matches ? 200 : ''">
        <div class="testimonial">
            <div class="testimonial-text">
                <p>{{'ABOUT.TESTIMONIAL_ONE' | translate}}</p>
            </div>
            <div class="testimonial-text">
                <p>{{'ABOUT.TESTIMONIAL_TWO' | translate}}</p>
            </div>
        </div>
  </div>
</div>

<!-- MENU -->
<div id='menu' class="component-background-menu">
  <h1 class="menu-header">{{'MENU.MENU_TITLE' | translate}}</h1>
  <div class="menu-container">
      <div class="menu-section-one">
          <h3 class="main-courses">{{'MENU.ANTIPASTI' | translate}}</h3>
          <div class="menu-item">
              <p>Acciughe del Cantabrico...Piquillo, burro danese e crostini&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Patè d'anatra...mela al Porto e crostini&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Antipasto Misto "Lunigiana"&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Petto d'Oca affumicato...crostini e riccioli di burro&nbsp;</p>
          </div>
      </div>
      <br>
      <div class="menu-section-two">
          <h3 class="main-courses">{{'MENU.PRIMI' | translate}}</h3>
          <div class="menu-item">
              <p>Tagliatelle al Teroldego...crema di Carote, ragù di Agnello, fonduta di Gorgonzola&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Timballo di riso Taleggio e pere&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Spaghetti alla Bottarga di Muggine&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Tortelli di verdura burro e Tartufo&nbsp;</p>
          </div>
      </div>
      <br>
      <div class="menu-section-three">
          <h3 class="main-courses">{{'MENU.SECONDI' | translate}}</h3>
          <div class="menu-item">
              <p>Baccalà al forno...lardo, pomodorini, olive e patate&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Tagliata di Angus tricolore&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Ribs di Agnello "scottadito" con patate&nbsp;</p>
          </div>
          <div class="menu-item">
              <p>Tartare di Filetto di Angus al Tartufo&nbsp;</p>
          </div>
      </div>
      <br>
      <div class="menu-section-four">
          <h3 class="desert">{{'MENU.DESSERT' | translate}}</h3>
          <div class="menu-item"> 
              <p>{{'MENU.DESSERTS_DESCRIPTION' | translate}}</p>
          </div>
      </div>
      <br>
      <div class="menu-section-four">
          <div class="menu-item"> 
              <p class="booking-tail">{{'MENU.BOOKING' | translate}}</p>
          </div>
      </div>
      <br>
      <br>
  </div>
</div>

<!-- CONTACT -->
<div style="background-color: #ef5777; border-top: 30px solid #171717;">
  <div id='contact' class="component-background-contact">
    <div>
        <p class="contact-header">{{'CONTACT.CONTACT' | translate}}</p>
    </div>
    <div class="contact-container">
        <div class="info-container">
            <div class="email-phone-container">
                <h3 class="phone-email-header">{{'CONTACT.PHONEANDEMAIL' | translate}}</h3>
                <p class="contact-info">+39 0187 83057</p>
                <p class="contact-info">+33 3339 454046 (WhatsApp)</p>
                <p class="contact-info">{{'CONTACT.ASK' | translate}} Veronica</p>
                <p class="contact-info">anticatrattoriapelliccia&#64;hotmail.com</p>
            </div>
            <div class="address-container">
                <h3 class="address-header">{{'CONTACT.ADDRESS' | translate}}</h3>
                <p class="contact-info">Antica Trattoria Pelliccia</p>
                <p class="contact-info">Via Garibaldi 137</p>
                <p class="contact-info">54027 Pontremoli</p>
                <p class="contact-info">Massa Carrara, Italy</p>
            </div> 
            <div class="hours-container">
                <h3 class="hours-header">{{'CONTACT.HOURS' | translate}}</h3>
                <p class="contact-info">12.00 - 14.00, 19.00 - 22.00</p>
                <p class="contact-info">{{'CONTACT.DAYS_CLOSED' | translate}}</p>
            </div>    
        </div>
    </div>
  </div>
</div>
<!-- GALLERY -->
<div id='gallery' class="component-background-gallery">
  <div class='row'>
      <div class='column gallery'>
        <img src='../../assets/images/gallery/entrance.png' alt='entrance' style='width:100%'>
        <img src='../../assets/images/gallery/withTruffles.png' alt='withTruffles' style='width:100%'>
        <img src='../../assets/images/gallery/tartar.png' alt='tartar' style='width:100%'>
        <img src='../../assets/images/gallery/tagtwo.png' alt='tagtwo' style='width:100%'>
        <img src='../../assets/images/gallery/platter.png' alt='platter' style='width:100%'>
        <img src='../../assets/images/gallery/greens.png' alt='Trattoria Pelliccia Restaurant greens' style='width:100%'>
      </div>
      <div class='column gallery'>
        <img src='../../assets/images/gallery/tart.png' alt='Trattoria Pelliccia Restaurant tart' style='width:100%'>
        <img src='../../assets/images/gallery/tag.png' alt='Trattoria Pelliccia Restaurant tagliatele' style='width:100%'>
        <img src='../../assets/images/gallery/stew.png' alt='Trattoria Pelliccia Restaurant stew' style='width:100%'>
        <img src='../../assets/images/gallery/steak.png' alt='Trattoria Pelliccia Restaurant steak' style='width:100%'>
        <img src='../../assets/images/gallery/pastries.png' alt='Trattoria Pelliccia Restaurant pastries' style='width:100%'>
        <img src='../../assets/images/gallery/dumplings.png' alt='Trattoria Pelliccia Restaurant dumplings' style='width:100%'>
      </div>
      <div class='column gallery'>
        <img src='../../assets/images/gallery/ribs.png' alt='Trattoria Pelliccia Restaurant ribs' style='width:100%'>
        <img src='../../assets/images/gallery/oysters.png' alt='Trattoria Pelliccia Restaurant oysters' style='width:100%'>
        <img src='../../assets/images/gallery/mussels.png' alt='Trattoria Pelliccia Restaurant mussels' style='width:100%'>
        <img src='../../assets/images/gallery/souffle.png' alt='Trattoria Pelliccia Restaurant souffle' style='width:100%'>
        <img src='../../assets/images/gallery/friedDough.png' alt='Trattoria Pelliccia Restaurant friedDough' style='width:100%'>
        <img src='../../assets/images/gallery/beautifullyPresented.png' alt='Trattoria Pelliccia Restaurant beautifullyPresented' style='width:100%'>
      </div>
      <div class='column gallery'>
        <img src='../../assets/images/gallery/meatAndCheese.png' alt='Trattoria Pelliccia Restaurant meatAndCheese' style='width:100%'>
        <img src='../../assets/images/gallery/marangue.png' alt='Trattoria Pelliccia Restaurant marange' style='width:100%'>
        <img src='../../assets/images/gallery/chickenLegs.png' alt='Trattoria Pelliccia Restaurant chicken legs' style='width:100%'>
        <img src='../../assets/images/gallery/sauce.png' alt='Trattoria Pelliccia Restaurant sauce' style='width:100%'>
        <img src='../../assets/images/gallery/fish.png' alt='Trattoria Pelliccia Restaurant fish' style='width:100%'>
        <img src='../../assets/images/gallery/trattoriaFromSide.jpeg' alt='trattoria pelliccia restaurant from the side' style='width:100%'>
      </div>
    </div>
</div>

