.home-background {
  max-height: calc(100vh - 56px);
  overflow-y: hidden;
  overflow-x: hidden;
  flex-basis: 100%;
  height: 100vh;
  background-image: url("../../assets/images/pontremoliFull.jpeg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.trattoria {
  height: 100px;
  width: 40%;
  z-index: 1;
  background-color: pink;
}

.home-image {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}

.welcome-message-trattoria {
  font-size: 6em;
  color: #171717;
  display: inline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0;
}

.welcome-message-pelliccia {
  font-size: 7em;
  color: #171717;
  display: inline;
  font-weight: normal;
  font-family: 'Pinyon Script', cursive;
  margin-bottom: 0;
  margin-top: 2rem;
  padding-left: 2rem;
}

.detail-message {
  margin-top: 0;
  font-size: 2em;
  text-align: center;
  color: #171717;
  font-weight: bold;
  font-family: 'Montserrat';
}